.contact-body {

    background-image: url('/src/images/Beau.webp');
    background-size: cover;
    background-position: center;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Set default font family */
    color: #171717; /* Set default text color */
    line-height: 1.6; /* Set line height for better readability */
    background-color: #554e6f; /* Set background color to light gray */
    font-size: 20px; /* Set a default font-size */
    padding-top:150px;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
  
  }
  
  
  
  .contact {
    font-family: "Delius Swash Caps", cursive;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2rem;
   
  }
  
  .details{
    font-family: "Twinkle Star", cursive;
    font-size: 120%;
    text-align: center;
  }
  
  
  .details a:hover {
    color: #1b1e1f;
    text-decoration: underline;
  }
  
  