/* Body Styles */
body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  background-color: #4d1a71;
  font-size: 20px;
}

/* Navbar Styles */
.header {
  background-color: #17031a;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 2rem;
}

.nav-links a {
  color: #b6b1b1;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #3e4c50;
}

/* Footer Styles */
.footer {
  text-align: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;
  margin-top: 2rem;
}

.footer p {
  margin: 0;
}
