/* Body Styles */


/* Navbar Styles */
.header {
  background-color: #926efd;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 2rem;
}

.nav-links a {
  color: #241919;
  font-weight: bold;
  font-size: 25px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #435154;
  text-decoration: underline;
}

/* Footer Styles */

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}
